:root {
    --main: rgb(154, 154, 154);
   }

   body {
    background-color: var(--main);
   }
   
   nav ul{
       display: flex;
       flex-direction: row;
       justify-content: end;
   }

   nav li {
    list-style: none;
   }
   nav a {
       padding: 10px;
       text-decoration: none;
       color: var(--accent);
   }
   
   
   
   nav a:hover {
       color: white;
   }
       img {
       width: 200px;
   }
   
   section {
    border: 3px solid white;
    border-radius: 25px;
    background-color: rgba(0, 255, 255, 0.31);
    padding: 20px;
    margin: 20px;
   }
   #snapshot {
       display: flex;
       flex-direction: row;
       justify-content: space-around;
       align-items: center;
   }
   
   #contact {
       display:none;
   }
   
   #projects {
       
   }
   
   #projects>article {
       margin: 20px;
       text-align: center;
   }
   
   #project-collection {
    display: flex;
    flex-wrap: wrap ;
   }